.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Cockpit button {
    background-color: greenyellow;
    padding: 10px 25px;
    color: green;
    border: 2px solid green;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
}

.Cockpit button.Red {
    background-color: red;
    border: 2px solid darkred;
    color: darkred;
}

.Cockpit button.Red:hover {
    background-color: salmon;
    color: black;
}